<div class="login-container">
        
    <div class="login-box">
        <div class="div-titulo">
            <h3>Garden Central</h3>
        </div>
        <div class="login-body">

            
            
            <router-outlet></router-outlet>
            
        </div>
        <div class="login-footer">
            <div class="pull-left">
                &copy; 2022 Garden Central. 
            </div>
            <!--<div class="pull-right">
                <a href="#">About</a> |
                <a href="#">Privacy</a> |
                <a href="#">Contact Us</a>
            </div>-->
        </div>
    </div>
    
</div>
