<router-outlet></router-outlet>


<ng-http-loader
[backgroundColor]="'#212224'"
[minDuration]="300"
[backdropBackgroundColor]="'#777777'"
[opacity]="'.4'"
[spinner]="spinkit.skWanderingCubes"
>
</ng-http-loader>

<!--[spinner]="spinkit.skThreeBounce" -->
<!--[spinner]="spinkit.skSpinnerPulse" -->
<!--[spinner]="spinkit.skRotatingPlane" -->
<!--[spinner]="spinkit.skDoubleBounce" -->
<!--[spinner]="spinkit.skCubeGrid" -->
<!--[spinner]="spinkit.skChasingDots" -->
<!--[spinner]="spinkit.skWanderingCubes" -->
<!--[spinner]="spinkit.skWave" -->

<!--


    Different style are skChasingDots, skCubeGrid, skDoubleBounce, skRotatingPlane, skSpinnerPulse, skThreeBounce, skWanderingCubes and skWave


-->