*{
    margin:0;
    padding: 0;
    font-size: 16px;
}

.enlace:hover {
    text-decoration:none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*toma todo el espacio restante y empuja todo a los bordes*/
.spacer{
    flex: 1 1 auto;
}

body {
    background-color: #303030;
    color:#ffff;
    /*overflow: auto;*/
}

input:focus, select:focus, select, input.form-control:focus {

    outline:none !important;

    outline-width: 0 !important;

    box-shadow: none;

    -moz-box-shadow: none;

    -webkit-box-shadow: none;

}


/* ********* LOGIN ********* */
.div-titulo{
    text-align:center;
  }
  .div-titulo h3{
    color:#fff;
    font-weight:bold;
    font-size:30px;
  }
  
  .div-iniciar-sesion{
    margin:5px 0;
  }

  .login-container {
     height: 100vh;
   }

   .login-box{
    background: rgba(255, 255, 255, 0.1);
    width:60%;
    max-width: 600px;
    margin:120px auto;
   }

   .login-body {
    padding: 30px;
   }

   .div-titulo{
    padding: 0 0 30px 0;
    background-color: #303030;
   }


   .div-titulo h3{
       margin:0;
       font-size: 2.5em;
       color:#fff;
   }

  .login-title{
    color: #fff;
    font-size: 1.5em;
    margin: 0 0 20px 0;
  }


  .login-title strong{
      font-size:1em;
  }

  .form .form-group{
    margin: 0 0 20px 0;
  }

  .form .form-group input{
    border: 0px;
    background: rgba(0, 0, 0, 0.2);
    padding: 15px;
    color: #CCC;
    line-height: 20px;
    height: auto;
    outline: none;
  }

  .div-registar{
      text-align: center;
  }

  .enlace{
      text-decoration:none;
      cursor:pointer;
      color:#ffff;
  }

  .login-footer{
      background-color: #303030;
      color:#ffff;
      padding-top: 10px;
  }

  @media (max-width: 768px){
      .login-box{
        width: 95%;
      }
  }

  .enlace:hover, .enlace:active{
    color:#ffff!important;
  }


  /* ********* END LOGIN ********* */


  .layout{
    /*background-color: red!important;*/
    /*height: 100vh;
    min-height: 100vh;
    */
    padding-top:100px;
    /*height: 100vh;*/
    /*position: relative;*/
    min-height: 93%;
  }


  .oculto{
    display: none;
  }

  .cabecera{
    display: none;
  }

  .verde-principal-boton{
    background-color: #1caf9a;
    color:#ffff;
  }

  .verde-principal-boton:hover{
    color:#ffff;
    background-color: #1e9b88;
  }


  @media (min-width: 1280px){


      .layout{
        padding-left: 260px;
        padding-top: 0px;
      }

      footer {
        padding-left: 350px;
      }

      .oculto{
        width: 260px;
        height: 3000px;
        background: #080a0e;
        position: absolute;
        bottom: -8px;
        left: 0px;
        z-index: 40;
        display: block;
      }

      .cabecera{
        display: flex;
        display: flex;
        background: #1caf9a;
        margin-bottom: 30px;
        justify-content: space-between;
        padding:9px 25px;
        border-bottom: 1px solid #17191e;
      }

      
      
}



/*  
  Estilos para las tablas y botones
*/

#table thead tr td{
  font-size: 20px;
}

.acciones button{
  margin-right: 10px;
}

.div-btn-add{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top:15px;
    flex-wrap: wrap;
}


.form-modal .form-group{
  margin-bottom: 10px;
}

.div-btn-add div:first-child{
  width: 600px;
  display: flex;
}

.div-btn-add div:first-child select{
  margin: 0 5px;
}

.div-btn-add div:first-child span{
  line-height: 2;
}

.div-btn-add div:first-child div:first-child{
  display: flex;
  width: 250px;
  margin-left: 10px;
  margin-top: 10px;
}

.div-btn-add div:first-child div:last-child{
  display: flex;
  width: 250px;
  margin-left: 10px;
  margin-top: 10px;
}

.div-btn-add div:last-child{
  margin-top: 10px;
}

.p-calendar .p-inputtext {
  height: 38px;
}

.div-paginacion{
  display: flex;
  justify-content: flex-end;
}

.div-paginacion nav ul li a{
  color: #ffff;
  background-color: #323539;
}

.div-paginacion .ngx-pagination  {
  color: #ffff;
  background-color: #323539!important;
}

.div-paginacion nav ul li a:hover{
  color: #ffff;
  background-color: #212224;
  cursor: pointer;
}

.ngx-pagination li{
  background-color: #212224!important;
  border:1px solid #ffff;
  padding-left: 0;
}

.ngx-pagination li{
  border-radius: 3px 3px 3px 3px!important;
}

.ngx-pagination li:first-child{
  border-radius: 3px 0 0 3px!important;
}

.ngx-pagination li:last-child{
  border-radius: 0 3px 3px 0!important;
}

/*.div-paginacion-active{
  background-color: #212224!important;
}*/

.ngx-pagination a{
  text-decoration: none!important;
}

.paginacion-disabled{
  cursor:default!important;
}

.paginacion-disabled:hover{
  background-color: #323539!important;
}

.btns div{
  margin-top: 10px;;
}